<form method="post" action="{{ path('usergroup_delete', {'id': ugrp.id}) }}" onsubmit="return confirm('Voulez-vous vraiment supprimer ce groupe ?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ ugrp.id) }}">
    <button class="btn fa fa-trash editBtn"></button>
</form>
