<form method="post" action="{{ path('label_delete', {'id': l.id}) }}" onsubmit="return confirm('Voulez-vous vraiment supprimer ce label ?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ l.id) }}">
    <button class="btn fa fa-trash editBtn"></button>
</form>
