{% extends 'base.html.twig' %}

{% block title %}Edit Label{% endblock %}

{% block body %}
{{ include('label/_form.html.twig', {'button_label': 'Mettre a jour', 'edit': true, 'title': 'Editer un label'}) }}

<a href="{{ path('label_index') }}"><button type="button" class="btn btn-info ml-5">&#60; Retour</button></a>
{% endblock %}
